body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global Color Values */
:root {
  --primary: #09357B;
  --light-primary: #2153A3;
  --red: #F50057;
  --yellow: #FFCA28;
  --blue: #2196F3;
  --purple: #0D47A1;
  --grey: #979797;
}